<!--******************************************************************************
 * VERITAS:    Copyright (c) 2017 Veritas Technologies LLC.
 * This software is licensed as described in the file LICENSE which is part of this repository
 *****************************************************************************/
 -->
@Html.Partial("_ViewSwitcher")


@model IEnumerable<BEArcus.WebApp.Models.MediaServer>

@{
    var customers = Model.Select(o => o.CustomerName).Distinct();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title  Backup Exec</title>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.mobile-1.4.5.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.mobile.theme-1.4.5.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-2.2.4.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mobile-1.4.5.js"></script>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Mobilecss")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .preLoad {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: center no-repeat #fff;
        }

        .afterLoad {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
        }
    </style>
</head>

<body>

    <div data-role="page" data-theme="a">
        <div data-role="header" data-theme="b" data-position="fixed" class="ui-header ui-bar-b ui-header-fixed slidedown ui-bar-b">
            <div data-role="navbar">
                <ul>
                    <li style="border-bottom:groove"><center><p style="margin-top:5px"><h5><strong>Arcus</strong></h5></p></center></li>
                </ul>
            </div>
            <ul id="menu-left" data-role="menu" style="list-style-type: none;">
                <li>
                    <span data-role="button" style="margin-top:6px" class="glyphicon glyphicon-list"><strong style="margin-left:25vw">@ViewBag.Title</strong>  </span>
                    <ul data-role="listview" data-inset="false" style="display:none">
                        <li><a href="/MediaServer/HomePage"><span class="glyphicon glyphicon-home"></span> Home </a></li>
                        <li>
                            <div data-role="collapsible">
                                <h5><span class="glyphicon glyphicon-blackboard"></span> Monitor <span class="glyphicon glyphicon-chevron-down"></span></h5>

                                <ul data-role="listview">
                                    @foreach (var customer in customers)
                                    {
                                        <li name="customer" value=@customer><a href="@Url.Action("FilterPanel","MediaServer",new { id=customer})"><span class="glyphicon glyphicon-user"></span> @customer</a></li>
                                    }
                                </ul>
                            </div>
                        </li>
                        <li><a href="/MediaServer/GroupPage"><span class="glyphicon glyphicon-plus"></span> Manage Groups</a></li>
                        <li> @Html.Partial("_LoginPartial")</li>
                        <li><a href="/MediaServer/Exit"><span class="glyphicon glyphicon-remove-circle"></span> Exit </a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div data-role="content" class="ui-content">

            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    </div>

    <script>
        $('body').bind('hideOpenMenus', function () {
            $("ul:jqmData(role='menu')").find('li > ul').hide();
        });

        var menuHandler = function (e) {
            $('body').trigger('hideOpenMenus');
            $(this).find('li > ul').show();
            e.stopPropagation();
        };

        $("ul:jqmData(role='menu') li > ul li").click(function (e) {
            $('body').trigger('hideOpenMenus');
            e.stopPropagation();
            $("#msg").show();
        });

        $('body').delegate("ul:jqmData(role='menu')", 'click', menuHandler);
        $('body').click(function (e) {
            $('body').trigger('hideOpenMenus');
        });

        $(window).load(function () {
            // Animate loading element
            $(".preLoad").fadeOut("afterLoad");
        });

    </script>
</body>

</html>
