<!--******************************************************************************
 * VERITAS:    Copyright (c) 2017 Veritas Technologies LLC.
 * This software is licensed as described in the file LICENSE which is part of this repository
 *****************************************************************************/
-->

@model IEnumerable<BEArcus.WebApp.Models.JobHistory>

@{
    Layout = null;
}
@{
    string mediaServer = ViewBag.Mediaserver;
    IEnumerable<string> Name = Model.Select(o => o.Name).Distinct();
    Name = Name.Concat(new[] { "All" });
    IEnumerable<string> BE_id = Model.Select(o => o.be_id).Distinct();
    BE_id = BE_id.Concat(new[] { "All" });
    IEnumerable<string> JobType = Model.Select(o => o.JobType).Distinct();
    JobType = JobType.Concat(new[] { "All" });
    IEnumerable<string> JobStatus = Model.Select(o => o.JobStatus).Distinct();
    JobStatus = JobStatus.Concat(new[] { "All" });
    IEnumerable<string> StartTime = Model.Select(o => o.StartTime.ToString("s") + "Z").Distinct();
    StartTime = StartTime.Concat(new[] { "All" });
    IEnumerable<string> EndTime = Model.Select(o => o.EndTime.ToString("s") + "Z").Distinct();
    EndTime = EndTime.Concat(new[] { "All" });
}
@using (Html.BeginForm("JobHistory", "MediaServer", new { media = ViewBag.Mediaserver }, FormMethod.Post))
{

    <div class="table-responsive" id="jobHistory@(mediaServer)">
        <div style="background-color:#414142;"><h4 style="color:white;"> &nbsp;&nbsp;&nbsp;Job History</h4></div>
        <table class="table">
            <tr style="background-color:#E6EAEE">
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                    @Html.DropDownList("JobHistoryName", new SelectList(Name), "Select", new { @class = mediaServer, onchange = "loadJobHistoryName(this);" })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobStatus)
                    @Html.DropDownList("JobHistoryStatus", new SelectList(JobStatus), "Select", new { @class = mediaServer, onchange = "loadJobStatus(this);" })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobType)
                    @Html.DropDownList("JobHistoryType", new SelectList(JobType), "Select", new { @class = mediaServer, onchange = "loadJobHistoryType(this);" })
                </th>
                <th>
                    <div style="width: 200px;">
                        <a href="#" class=@mediaServer onclick="loadStartTime()">Start Time<span class="glyphicon glyphicon-triangle-bottom" style="padding-left:10px;"></span></a>
                    </div>
                    @*Html.DisplayNameFor(model => model.StartTime)
                        @Html.DropDownList("StartTime", new SelectList(StartTime), "Select", new { onchange = "loadStartTime();" })*@
                </th>
                <th>
                    <div style="width: 200px;">
                        <a href="#" class=@mediaServer onclick="loadEndTime()">End Time<span class="glyphicon glyphicon-triangle-bottom" style="padding-left:10px;"></span></a>
                    </div>
                    @*Html.DisplayNameFor(model => model.EndTime)
                        @Html.DropDownList("EndTime", new SelectList(EndTime), "Select", new { onchange = "loadEndTime();" })*@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StorageName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalDataSizeBytes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobRateMBPerMinute)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ErrorCode)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                var style = (item.JobStatus.Equals("Error")) ? "color:red" : "";
                <tr style="@style">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StorageName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalDataSizeBytes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobRateMBPerMinute)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ErrorCode)
                    </td>

                </tr>
            }

        </table>
    </div>
    <script>
        function loadJobHistoryName(elem) {
            var opt=document.activeElement.getAttribute('class')
            $("#jobHistory"+opt).load("/MediaServer/GetJobHistoryName", { Name:elem.value, media:opt});
        }
        function loadJobStatus(elem) {
            var opt=document.activeElement.getAttribute('class')
            $("#jobHistory"+opt).load("/MediaServer/GetJobHistoryStatus", { JobStatus:elem.value, media:opt});
        }
        function loadJobHistoryType(elem) {
            var opt=document.activeElement.getAttribute('class')
            $("#jobHistory"+opt).load("/MediaServer/GetJobHistoryType", { JobType:elem.value, media:opt});
        }
        function loadStartTime(elem) {
            var opt=document.activeElement.getAttribute('class')
            $("#jobHistory"+opt).load("/MediaServer/GetSortedStartDate", { sortOrder:@Html.Raw(Json.Encode(ViewBag.DateSortParm)), media:opt});
        }
        function loadEndTime(elem) {
            var opt=document.activeElement.getAttribute('class')
            $("#jobHistory"+opt).load("/MediaServer/GetSortedEndDate", { sortOrder:@Html.Raw(Json.Encode(ViewBag.DateSortParm)), media:opt});
        }
    </script>
}